.number-about{
  font-size: 30px;
  font-weight: bold;
  color: $color-dark-orange;
  margin-bottom: 10px;
}

.about-margin{
  margin-top: 30px;
}

.about-img-wrap{
  border: solid 10px $color-white;
  border-radius: 5px;
  box-shadow: 0px 0px 80px $color-box-shadow;
  width: 450px;
  max-width: 100%;
}
.about-img{
  width: 450px;
}
.about-img-wrap__left{
  margin-right: auto;
  @include md{
    margin-left: auto;
  }
}

.about-img-wrap__right{
  margin-left: auto;
  @include md{
    margin-right: auto;
  }
}

.about-col{
  padding: 30px 15px;
}



.icon-about-wrap{
  width: 18%;

  float: left;
  @include lg{
    width: 23%;
  }
  @include md{
    width: 100%;
    text-align: center;
    float: unset;
  }
}
.icon-about-info{
  width: 82%;
  float: left;
  @include lg{
    width: 77%;
  }
  @include md{
    width: 100%;
    text-align: center;
    float: unset;
  }
}
.icon-about-info p{
  @include md{
    line-height: 10px;
    margin-bottom: 40px;
  }
}

.certificate-about-img{
  width: 200px;
  outline-color: rgba(255, 255, 255, 0.40);
  outline-style: solid;
  outline-width: thin;
  border: solid 10px rgba(138, 138, 138, 0.25);
  @include lg{
    width: 150px;
  }
  @include md{
    width: unset;
    max-height: 200px;
  }
}
.certificate-about-img__right{
  float: right;
  margin-right: 50px;
  @include md{
    margin-right: 0px;
    position: absolute;
    right: 45%;
    transform: translateX(100%);
  }
  @include xs{
    right: 49%;
  }
}
.certificate-about-img__left{
  margin-left: 50px;
  @include md{
    margin-left: 0px;
    position: absolute;
    left: 45%;
    transform: translateX(-100%);
  }
  @include xs{
    left: 49%;
  }
}

.certificate-about{
  @include md{
    height: 200px;
  }
}

.pr-cone{
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    transition: 0.2s;
    transform: scale(1.1);
  }
}
.modal-cone{
  width: 250px;
  display: inline-block;
  height: 400px;
}

.stand-modal{
  position: relative;
  width: 100%;
  float: left;
  height: 100%;
  max-width: initial;
  max-height: initial;
}
.stand-modal:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0px;
}