
.hp-banner{
  background: $color-light-blue;
position: relative;
  -webkit-clip-path: ellipse(100% 100% at 50% 100%);
  clip-path: ellipse(100% 100% at 50% 100%);
  height: 100%;
  @include lg{
    -webkit-clip-path: ellipse(120% 100% at 50% 100%);
    clip-path: ellipse(120% 100% at 50% 100%);
  }
  @include sm{
    -webkit-clip-path: ellipse(150% 100% at 50% 100%);
    clip-path: ellipse(150% 100% at 50% 100%);
  }
  @include xs{
    -webkit-clip-path: ellipse(180% 100% at 50% 100%);
    clip-path: ellipse(180% 100% at 50% 100%);
  }
}
.banner-text{
  position: absolute;
  text-align: center;
  left: 50%;
  top:200px;
  width: 610px;
  z-index: 9;
  max-width: 100%;
  transform: translateX(-50%) translateY(-50%);
  @media (max-height: 850px) {
    top: 150px;
  }
}
.banner-p{
  color: $color-dark-blue;
  font-size: 17px;
}

.banner-center-img{
  position: absolute;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  @include sm{
    width: 380px;
  }
  @media (max-height: 1050px) {
    width: 500px;
  }
  @media (max-height: 950px) {
    width: 400px;
  }
  @media (max-height: 850px) {
    width: 400px;
  }
  @media (max-height: 750px) {
    width: 350px;
  }
  @media (max-height: 650px) {
    width: 300px;
  }
}
.banner-section{
  position: relative;
  height: 850px;
  display: block;
  @include lg{
    height: 700px;
  }
  @include sm{
    height: 600px;
  }
  @media (max-height: 1050px) {
    height: 750px;
  }
  @media (max-height: 950px) {
    height: 650px;
  }
  @media (max-height: 850px) {
    height: 600px;
  }
  @media (max-height: 750px) {
    height: 550px;
  }
  @media (max-height: 650px) {
    height: 500px;
  }
}