.btn{
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  transition: 0.2s;
  margin-top: 5px;
  font-size: 17px;
}
.btn:hover{
  transition: 0.2s;
}



.btn__orange{
  background-color: $color-orange;
  background-image: linear-gradient(45deg, $color-orange 0%, $color-orange 55%, $color-dark-orange 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  transition: all 0.5s ease, padding 0s, font-size 0s;



  &:hover{

    background-position: 0 0;
    transition: all 0.5s ease, padding 0s, font-size 0s;
  }
}



.btn__blue{
  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  transition: all 0.5s ease;


  &:hover{

    background-position: 0 0;
    transition: all 0.5s ease;
  }
}


.btn__form{
  margin-top: 0px;
  padding: 13px 30px;
  float: right;
  @include sm{
    padding: 10px 15px;
  }
  @include xs{
    padding: 13px 30px;
  }
}

.btn__cart{
  padding: 15px 90px;
}

.btn__to-cart{
  padding: 15px 50px;
  margin-top: 30px;
  margin-left: 10px;
  @include xs{
    margin-top: 20px;
    margin-left: 0px;
  }
}

.btn__next{

  margin-top: 30px;
  margin-right: 10px;
  padding: 2px;
  @include xs{
    margin-top: 20px;
    margin-right: 0px;
  }
}
.next-text{
  width: 100%;
  background: white;
  height: 100%;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn__certificate-about{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  @include xs{
    font-size: 14px;
  }

}


.btn__recalc{
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 5px;
}