.c-product-head{
  width: 42%;
  float: left;
  height: 75px;
  border-bottom: solid 2px $color-dark-orange;
  @include xs{
    width: 100%;
    margin-top: 30px;
  }
}
.c-number{
  padding-top: 15px;
  width: 22%;
  float: left;
  height: 75px;
  border-bottom: solid 2px $color-gray;
  position: relative;
  @include sm{
    width: 24%;
  }
  @include xs{
    width: 45%;
    height: 55px;
    padding-top: 5px;
  }
}
.c-price{
  padding-top: 22px;
  width: 26%;
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: $color-dark-blue;
  text-align: center;
  height: 75px;
  border-bottom: solid 2px $color-gray;
  position:relative;
  @include sm{
    width: 29%;
  }
  @include xs{
    font-size: 15px;
    width: 45%;
    text-align: left;
    height: 55px;
    padding-top: 16px;
  }

}
.c-bin{
  width: 10%;
  padding-top: 25px;
  float: left;
  height: 75px;
  text-align: center;
  border-bottom: solid 2px $color-gray;
  @include sm{
    width: 5%;
  }
  @include xs{
    width: 10%;
    height: 55px;
    padding-top: 16px;
  }
}



.c-cone{
  width: 30%;
  float: left;
  height: 65px;
  position: relative;
  @include xs{
    width: 25%;
  }
}
.c-title{

  font-size: 16px;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  color: $color-dark-orange;
  font-weight: 500;
  padding-top: 2px;
  @include sm{
    font-size: 12px;
  }
  @include xs{
    font-size: 16px;
  }
}
.c-title-wrap{
  width: 70%;
  float: left;
  height: 70px;
  position: relative;
  padding: 0px 5px;
  @include xs{
    width: 75%;
  }
}
.cart-block-1, .cart-block-2, .cart-block-3, .cart-block-4{
  width: 100%;
  float: left;
}
.cart-block-3{
  border: solid 10px white;
  border-radius: 5px;
  box-shadow: 0px 0px 80px rgba(246, 211, 222, 0.6);
  padding: 25px 15px 0px 15px;
  margin-bottom: 80px;
  @include lg{
    margin-top: 80px;
  }

}
.cart-block-4{
margin-bottom: 40px;
}
.c-product-wrap{
  max-height: 410px;
  overflow-y: scroll;
  padding-bottom: 25px;
  @include lg{
    max-height: unset;
    overflow: hidden;
  }

}
.cart-block-1{
  margin-bottom: 60px;
}
.c-product input{
  min-width: unset;
  width: 45px;
  text-align: center;
  padding: 0px;
  height: 45px;
  margin-bottom: 0px;
  float: left;
  @include xs{
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}
.c-bin svg .st1{
  fill: $color-dark-orange;
}

.c-lie{
  max-height: 55px;
  max-width: 50px;
  padding-top: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}
.c-unit{
  font-weight: bold;
  font-size: 16px;
  color: $color-dark-blue;
  padding-left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
  @include sm{
    padding-left: 5px;
  }
  @include xs{
    padding-left: 2px;
    font-size: 12px;
  }
}






.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}



.quantity-nav {
  position: relative;
  height: 45px;
  width: 25px;
  float: left;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 25px;
  &:hover{

    background-position: 0 0;
    transition: all 0.5s ease;
  }
}

.quantity-button.quantity-down {
  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-size: 16px;
  left: 25px;
  bottom: 2px;
  position: absolute;
  &:hover{

    background-position: 0 0;
    transition: all 0.5s ease;
  }
}

.c-col-left{
  padding-right: 25px;
  @include lg{
    padding-right: 15px;
  }
}
.c-col-right{
  padding-left: 25px;
  @include lg{
    padding-left: 15px;
  }
}

.c-textarea{
  height: 150px;
}
.c-p{
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 25px;
}
.c-pay-price{
  font-weight: bold;
  font-size: 15px;
  color: $color-dark-blue;
}
.c-pay-choice{
  font-weight: 600;
  color: $color-dark-blue;
  font-size: 17px;
  line-height: 28px;
}
.row__pay{
  margin-bottom: 20px;
@include sm{
  margin-bottom: 30px;
  margin-top: 30px;
}
}

.delivery-wrap {
  @include sm{
    margin-bottom: 20px;
  }
}


.delivery-info{
  display: none;
  width: 100%;
  float: left;
}

.delivery-display .delivery-info{
  display: block;
}


.total-amount-block{
  margin-top: 20px;
  width: 100%;
  float: left;

}
.total-amount{
  font-size: 25px;
  color: $color-dark-blue;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: normal;
  width: 50%;
  float: left;
  position:relative;
}
.total-price{
  padding-top: 2px;
  font-size: 20px;
  font-weight: 700;
  color: $color-dark-orange;
  width: 50%;
  float: left;
  position:relative;
  text-align: right;
}

.button-recalc-wrap{
  text-align: right;
}

