.card{
  height: 210px;
  background: $color-light-orange;
  box-shadow: 0px 2px 50px rgba(125, 125, 125, 0.33);
  width: 460px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  @include lg{
    width: 100%;
    max-width: 460px;
  }
  @include sm{
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
.left-part{
  height: 100%;
  padding: 35px 18px;
  z-index: 1;
}
.right-part{
  height: 100%;
}
.cone{
  position: absolute;
  max-height: 250px;
  max-width: 210px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  @include md{
    max-height: 240px;
    max-width: 165px;
  }
}
.light{
  position: absolute;
  height: 100%;
  right: 0px;
}

.btn__orange--card{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
  @include md{
    left: -13px;
}
}
.card p{
  color:$color-vine;
  font-size: 15px;
  line-height: 25px;
}
.card__second .cone{
  top: 30%;
  left: 55%;
  @include md{
    left: 50%;
  }
  @include sm{
    left: 45%;
  }
}
.card__fifth .cone{
  left: 53%;
  max-width: 160px;
  top: 41%;
  @include md{
    left: 50%;
  }
  @include sm{
    left: 45%;
  }
}
.right-card-wrap{
  margin-top: 160px;
  @include sm{
    margin-top: 0px;
  }
}
.card__third .cone{
  top:41%;
}