.certificate-img{
  width: 270px;
  outline-color: $color-blue;
  outline-style: solid;
  outline-width: thin;
  border: solid 10px $color-light-blue;
}

.certificate-wrap{
  text-align: center;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  min-height: 650px;
}


.certificate-modal{
  position: fixed;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999999;
  display: none;
}

.show-modal{
  .certificate-modal{
    display: block;
  }
}
.certificate-modal__wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  height: 80%;
  padding: 15px;
}

.certificate-img--modal{
  width: unset;
  border: solid 20px #C3DDF6;
  max-width: 100%;
  max-height: 100%;
}


.certificate-img--btn{
  cursor: pointer;
}