#map{

  position: relative;
  -webkit-clip-path: ellipse(85% 100% at 50% 100%);
  clip-path: ellipse(85% 100% at 50% 100%);
  height: 600px;

  @include lg{
    height: 500px;
    -webkit-clip-path: ellipse(90% 100% at 50% 100%);
    clip-path: ellipse(90% 100% at 50% 100%);
  }
  @include sm{
    height: 400px;
    -webkit-clip-path: ellipse(95% 100% at 50% 100%);
    clip-path: ellipse(95% 100% at 50% 100%);
  }
  @include xs{
    -webkit-clip-path: ellipse(115% 100% at 50% 100%);
    clip-path: ellipse(115% 100% at 50% 100%);
  }
}

.map-shaddow{
  width: 100%;
  height: 600px;
  position: absolute;
  -webkit-clip-path: ellipse(85% 100% at 50% 100%);
  clip-path: ellipse(85% 100% at 50% 100%);
  background: $color-light-blue;
  z-index: 1;
  opacity: 0.6;
  @include lg{
    height: 500px;
    -webkit-clip-path: ellipse(90% 100% at 50% 100%);
    clip-path: ellipse(90% 100% at 50% 100%);
  }
  @include sm{
    height: 400px;
    -webkit-clip-path: ellipse(95% 100% at 50% 100%);
    clip-path: ellipse(95% 100% at 50% 100%);
  }
  @include xs{
    -webkit-clip-path: ellipse(115% 100% at 50% 100%);
    clip-path: ellipse(115% 100% at 50% 100%);
  }
}

.map-shaddow-top{
  width: 100%;
  height: 600px;
  position: absolute;
  -webkit-clip-path: ellipse(85% 100% at 50% 100%);
  clip-path: ellipse(85% 100% at 50% 100%);
  z-index: 2;
  box-shadow: inset 0px 150px 200px $color-light-blue;
  @include lg{
    height: 500px;
    -webkit-clip-path: ellipse(90% 100% at 50% 100%);
    clip-path: ellipse(90% 100% at 50% 100%);
  }
  @include sm{
    height: 400px;
    -webkit-clip-path: ellipse(95% 100% at 50% 100%);
    clip-path: ellipse(95% 100% at 50% 100%);
  }
  @include xs{
    -webkit-clip-path: ellipse(115% 100% at 50% 100%);
    clip-path: ellipse(115% 100% at 50% 100%);
  }
}

.contact-img{
  width: 120px;
  height: 120px;

}


.contact-img-wrap{
  box-shadow: 0px 0px 80px $color-box-shadow;
  width: fit-content;
  margin: 25px 0px;
}


.contact-name{
  font-size: 20px;
  font-weight: bold;
  color: $color-dark-orange;
}


.contact-img-wrap{

  float: left;
}

.contact-function{
  font-weight: 400;
}



.contact-img-wrap-main{

  float: left;
  margin-right: 30px;
}


.contact-info-wrap{
  width: 60%;
  height: 170px;
  float: left;
  padding: 40px 0px;
  @include md{
    width: 50%;
  }
}
.people-img{
  background: url(/wp-content/themes/tvin-cones/images/rootvin-min.png);
  width: 730px;
  height: 470px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0px;
  bottom: -170px;
  @media (max-width: 1650px) {
    bottom: -180px;
  }
  @media (max-width: 1500px) {
    bottom: -200px;
    right: 130px;
    width: 650px;
    height: 450px;
  }
  @include lg{
    bottom: -200px;
    right: 26px;
    width: 650px;
    height: 450px;
  }
@include md{
  position: relative;
  width: 100%;
  right: 0px;
  bottom: -220px;
}
  @include sm{
    position: relative;
    width: 400px;
    margin-left: auto;
    height: 260px;
    margin-right: auto;
    bottom: -155px;
  }
  @include xs{
    width: 250px;
    height: 175px;
    bottom: -125px;
  }
}
.first-contact, .second-contact{
  @include md{

    width: 50%;
    float: left;
  }
  @include sm{
    width: 100%;
  }
}
.second-contact{
  margin-left: 90px;
  @include lg{
    margin-left: 0px;
  }
}

.contact-people{
  position: absolute;
  right: 0px;
  bottom: -30px;

}

.contact-form-card{
  box-shadow: 0px 0px 80px rgba(246, 211, 222, 0.6);
  padding: 30px 20px;
  @include sm{
    margin-bottom: 50px;
  }
}


.form-span{
  line-height: 25px;
  font-size: 13px;
  color: $color-dark-blue;
}

.contact-row{

  @include sm{

  }
}


.col-left-contact{
  padding-right: 25px;
  @include sm{
    padding-right: 15px;
  }
}


.col-right-contact{
  padding-left: 25px;
  @include sm{
    padding-left: 15px;
  }
}

.col-right-contact{
  color:$color-dark-blue;
}


.col-right-contact h2{
  margin-bottom: 0px;
}


.first-contact-info, .second-contact-info, .third-contact-info{
  padding: 20px 0px 0px 0px;
  line-height: 23px;
}
.second-contact-info{
  margin-bottom: 40px;
}

.contact-btn-wrap{
  text-align: right;
  @include sm{
    text-align: left;
  }
}


.btn__contact{
  padding: 15px 80px!important;
}

.h2-map{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  left: 0px;
  z-index: 9;
  text-align: center;
  top: 70px;
  color: $color-dark-blue;
}

.map-marker{
  position: absolute;
  left: 0px;
  user-select: none;
  width: 34px;
  height: 49px;
  border: 0px;
  padding: 0px;
  right: 0px;
  margin: 0px;
  max-width: none;
  margin-left: auto;
  z-index: 9;
  margin-right: auto;
  top: 251px;
  @include lg{
    top: 201px;
  }
  @include sm{
    top:  151px;
  }
}

.h2-marker-wrap{
  height: 600px;
  position: absolute;
  width: 100%;
}

.map-display{
  position: absolute;
  width: 100%;
  height: 600px;
}

.contact-email{

  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #255DA0;
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  margin-top: 3px;
}


.btn__contact{
  height: 50px;
  line-height: normal;
  border: none;
}

.contact-form-card span.wpcf7-not-valid-tip{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -37px;
  font-size: 10px!important;
}

.contact-form-card .your-message span.wpcf7-not-valid-tip{
  bottom:0px;
}

.contact-form-card .wpcf7-response-output{
  border:none!important;
}

div.wpcf7-mail-sent-ok{
  border:none!important;
}

div.wpcf7-response-output{
  border:none!important;
}
