.footer-bottom-center{
  text-align: center;
  @include sm{
    margin-top: 15px;
  }
}
.footer-top-logo{
  text-align: center;
}

.footer-bottom-left{
  text-align: left;
  color:$color-transparent;
  @include sm{
    font-size: 11px;
  }
}
.footer-top-left{
 text-align: right;
  color:$color-transparent;
font-weight: lighter;
  line-height: 25px;
  @include sm{
    text-align: center;
    margin-bottom: 30px;
  }
}

.footer-top-right table{
  @include sm{
    display: none;
  }

}
.footer-top-right .contact-info{
  display: none;
  @include sm{
    display: block;
  }
}
.footer-bottom-right{
  text-align: right;
  color:$color-transparent;
  @include sm{
    font-size: 11px;
  }

}
.footer-top-right{
  text-align: left;
  color:$color-transparent;
  font-weight: lighter;
  line-height: 25px;
  @include sm{
    text-align: center;
    margin-top: 30px;
  }
}
.footer-bottom-center a{
  text-decoration: underline;
}

.footer-top-right td{
  min-width: 80px;
}

.footer-bottom-wrap{
  padding-top: 30px;
  border-top: solid 1px $color-transparent;
  font-weight: lighter;
}
.footer-top-wrap{
  padding-bottom: 30px;
}

.footer-b{
  color:$color-white;
}





.shadow-top-foot{
  height: 100%;
  position: absolute;
  width: 100%;
  background: url(/wp-content/themes/tvin-cones/images/shadow-top-foot.png);
  background-size: cover;
  background-position: center;

}



.shadow-center-foot{
  height: 100%;
  position: absolute;
  width: 100%;
  background: url(/wp-content/themes/tvin-cones/images/shadow-center-foot.png);
  background-size: cover;
  background-position: center;
}


.footer-paralax-first{


  position: absolute;
  z-index: 1;
  left: 48%;
  transform: translateX(-50%);
  max-height: 800px;
  bottom: 100px;
  background: url(/wp-content/themes/tvin-cones/images/footer-paralax-first.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  @media (max-width: 1500px){
    max-height: 700px;
    left: 45%;
  }
  @include lg{
    max-height: 360px;
    left: 48%;
    transform: translateX(-50%) translateY(30%);
  }
  @include md{

  }
  @include sm{
    display: none;
  }

}
.footer-paralax-second{

  position: absolute;
  z-index: 1;
  left: 48%;
  width: 100%;
  bottom: 100px;
  transform: translateX(-50%);
  max-height: 800px;
  background: url(/wp-content/themes/tvin-cones/images/footer-paralax-second.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (max-width: 1500px){
    max-height: 700px;
  }
  @include lg{


    max-height: 360px;
    transform: translateX(-50%) translateY(30%);
  }
  @include md{

  }
  @include sm{
    display: none;
  }
}