.hp-content{

  background: $color-lighter-orange;
}


.sp-content{
  background: $color-white;
}

.sp-content__orange{
  background:$color-lighter-orange;
}

.sp-content__margin{
  margin-top: -120px;
  padding-top: 120px;
}