.header__hp{
  height: 850px;
  position: relative;
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
  clip-path: ellipse(100% 100% at 50% 0%);
  overflow: visible;
  @include lg{
    -webkit-clip-path: ellipse(120% 100% at 50% 0%);
    clip-path: ellipse(120% 100% at 50% 0%);
    height: 700px;
  }
  @include sm{
    height: 600px;
    -webkit-clip-path: ellipse(150% 100% at 50% 0%);
    clip-path: ellipse(150% 100% at 50% 0%);
  }
  @include xs{
    -webkit-clip-path: ellipse(180% 100% at 50% 0%);
    clip-path: ellipse(180% 100% at 50% 0%);
  }


  @media (max-height: 1050px) {
    height: 750px;
  }
  @media (max-height: 950px) {
    height: 650px;
  }
  @media (max-height: 850px) {
    height: 600px;
  }
  @media (max-height: 750px) {
    height: 550px;
  }
  @media (max-height: 650px) {
    height: 500px;
  }
}
.shadow-top{
  height: 100%;
  position: absolute;
  width: 100%;
  background: url(/wp-content/themes/tvin-cones/images/shadow-top-right.png);
  background-size: cover;
  background-position: center;

}

.header-text{
  position: absolute;
  left: 50%;
  top: 300px;
  width: 500px;
  max-width: 100%;
  z-index: 9;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  @include lg{
    top: 250px;
    margin-top: 30px;
  }
  @include sm{
    top: 200px;
    margin-top: 0px;
  }


  @media (max-height: 1050px) {
    top: 280px;
  }
  @media (max-height: 950px) {
    top: 250px;
  }
  @media (max-height: 850px) {
    top: 230px;
  }
  @media (max-height: 750px) {
    top: 230px;
  }
  @media (max-height: 650px) {
    top: 220px;
  }
}
.header-p{
  color: $color-white;
  font-size: 17px;
  @media (max-height: 750px) {
    font-size: 15px;
    line-height: 25px;
  }
  @include lg{
    display: none;
  }
}
.header-h1{
  @include lg{
    margin-bottom: 10px;
  }
}

.shadow-center{
  height: 100%;
  position: absolute;
  width: 100%;
  background: url(/wp-content/themes/tvin-cones/images/shadow-center.png);
  background-size: cover;
  background-position: center;
}

.header-center-img{
  position: absolute;
  bottom: 0px;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);



  @media (max-height: 1050px) {
    width: 500px;
  }
  @media (max-height: 950px) {
    width: 400px;
  }
  @media (max-height: 850px) {
    width: 400px;
  }
  @media (max-height: 750px) {
    width: 350px;
  }
  @media (max-height: 650px) {
    width: 300px;
  }
}
.container__nopad{
  padding-top: 0px;
  padding-bottom: 0px;
}


.header-paralax-first{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  max-height: 800px;
  top: 100px;
  background: url(/wp-content/themes/tvin-cones/images/header-paralax-first.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  @media (max-width: 1500px) {
    margin-top: 50px;
  }
  @include lg{
    margin-top: -30px;
  }
  @include md{
    margin-top: 25px;
  }
  @include sm{
    display:none;
  }

  @media (max-height: 1050px) {
    margin-top: -100px;
  }
  @media (max-height: 950px) {
    margin-top: -200px;
  }
  @media (max-height: 850px) {
    margin-top: -250px;
  }


}
.header-paralax-second{
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 100%;
  top:100px;
  transform: translateX(-50%);
  max-height: 800px;
  background: url(/wp-content/themes/tvin-cones/images/header-paralax-second.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (max-width: 1500px) {
    margin-top: 50px;
  }
  @include lg{
    margin-top: -30px;
  }
  @include md{
    margin-top: 25px;
  }
  @include sm{
      display: none;
  }

  @media (max-height: 1050px) {
    margin-top: -100px;
  }
  @media (max-height: 950px) {
    margin-top: -200px;
  }
  @media (max-height: 850px) {
    margin-top: -250px;
  }

}


.header-h1__sp{
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 160px;
  width: fit-content;
  color: $color-dark-blue;
  text-align: center;
}

.header__sp{
  height: 300px;
  position: relative;
  -webkit-clip-path: ellipse(70% 100% at 50% 0%);
  clip-path: ellipse(70% 100% at 50% 0%);
  overflow: visible;
  @include lg{
    -webkit-clip-path: ellipse(90% 100% at 50% 0%);
    clip-path: ellipse(90% 100% at 50% 0%);
  }
  @include sm{
    -webkit-clip-path: ellipse(120% 100% at 50% 0%);
    clip-path: ellipse(120% 100% at 50% 0%);
  }
  @include xs{
    -webkit-clip-path: ellipse(150% 100% at 50% 0%);
    clip-path: ellipse(150% 100% at 50% 0%);
  }
}


.sp-content__orange p{
  color:$color-vine;
}



.sp-content__margin--bottom{
  padding-bottom: 120px;
  margin-bottom: -120px;
}