header{
  background-color: $color-blue;
}
footer{
  background-color: $color-dark-blue;
  color: white;
  font-family: 'Open Sans', sans-serif;

}
main{
  position: absolute;
  height: 100%;
  width: 100%;

}
section{
  display: contents;
}
body{

  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color:inherit;

}
.container{
  padding-top: 70px;
  padding-bottom: 70px;

  position: relative;
  @include lg{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (min-width: 1200px){
    width: 1200px;
  }
}
.br-phone{
  @include sm{
    display: none;
  }
}
.same-like-h1{
  color: $color-h1;
  line-height: normal;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  @media (max-height: 750px) {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  @include sm{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

h1{
  color: $color-h1;
  line-height: normal;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
@media (max-height: 750px) {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 0px;
}
  @include sm{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

h2{
  font-size: 25px;
  color: $color-vine;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: normal;
}
.sp-content h2{
  color: $color-dark-blue;
}
h3{

}
h4{

}
h5{

}
p{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
  color: $color-dark-blue;

}
.p-bigger{
  font-size: 18px;
}
button{
  border: none;
  line-height: normal;
  background: gray;
  outline: none;
}
.h1-small{
  color: $color-white;
  font-size: 20px;
  font-weight: 300;

}
.h1-small__blue{
  color:$color-dark-blue;
}
img{
  max-width: 100%;
}

input, textarea{
  background: rgba(195, 221, 246, 0.5);
  border: 1px solid $color-light-blue;
  padding: 10px;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 5px;
  min-width: 100%;
  outline: none;
  max-width: 100%;
  color: $color-dark-blue;
}
textarea{
  max-height: 200px;
  min-height: 100px;
  height: 100px;
}
.contact-form-card{
  color:$color-dark-blue;
}

::placeholder{
  color:$color-dark-blue;
  opacity: 0.5;
}
td{
  min-width: 80px;
}

li:before{
  content: "";
  margin-right: 0px;
  position: absolute;
  margin-left: -30px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid $color-dark-blue;
  height: 11px;
  width: 9px;
  margin-top: 8px;
}
li{
  list-style-type: none;
  font-size: 16px;
  color:  $color-dark-blue;
  line-height: 28px;
  padding: 10px 0px 10px 30px;
  border-bottom: solid 1px $color-light-blue;
  font-weight: 500;
  transition: 0.2s;
}
.menu li:before{
  display:none;
}
.menu li{
  border-bottom: none;
}

li:hover{
  color: $color-dark-orange;
  transition: 0.2s;
}

.menu li:hover{
  color: $color-white;
  opacity: 0.9;
}

.pr-ingredients{
  text-align: right;
  color: #255DA0;
  font-weight: bold;
  font-size: 12px;
  padding-top: 1px;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    transition: 0.2s;
    color:#6891C3;
    text-decoration: underline;
  }
}

.confirm-text--ingredients div{
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  color:#255DA0;
  font-size: 16px;
  width: 280px;
}

.confirm-ingredients .confirm{
  padding: 40px 30px!important;
}

.confirm-text--ingredients p{
  font-weight: normal;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  color:#000000;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
}