.cart-price{
  font-size: 18px;
  color: white;
  width: fit-content;
  position: absolute;
  top: 28px;
  right: 90px;
  @include sm{
    top: 55px!important;
    left: 50%;
    right: unset;
    font-size: 10px;
    transform: translateX(-50%);
  }
}
.cart-number{
  background: $color-dark-orange;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  text-align: center;
  padding-top: 3px;
  font-size: 11px;
  position: absolute;
  right: 60px;
  top: 5px;
  @include sm{
    left: 50px;
    right: unset;
  }
}

.cart-symbol{
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 0px;
  border-radius: 100%;
  padding-top: 18px;
  float: right;
  @include sm{
    padding-top: 10px;
    width: 45px;
    height: 45px;
  }
}
.cart-symbol svg{
  @include sm{
    width: 25px;
  }
}