.menu-main ul{
  display: inline-flex;
  list-style-type: none;
  @include sm{
    display: contents;
  }
}
.menu-main li{
  color: $color-white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;

  @include sm{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    height: 0px;
    padding: 0px;
    transition: visibility 0s, opacity 0.2s;
    background: white;
    color: $color-dark-blue;
    text-align: left;
    border: solid 2px $color-gray !important;
    box-shadow: 0px 10px 20px rgba(193, 193, 193, 0.32);
    margin-bottom: -2px;
  }
}
.menu-main li:hover{
  @include sm{
    color: black!important;
  }
}
.menu-main{
  text-align: center;
  @include lg{
    text-align:center;
  }
  @include sm{
    position: absolute;
    margin-right: auto;
    width: 100%;
    padding-top: 0px;
    height: 0px;
  }
}
.menu-btn-wrap{
  padding-top: 3px;
  text-align: right;
@include lg{
  position: absolute;
  right: 10px;
  top: 10px;
}
  @include sm{
    left: 10px;
    top: 5px;
    right: unset;
  }
}

.logo svg{
  height: 70px;
  width: 80px;
  transition: 0.5s;
}
.logo{
  text-align: left;
  @include lg{
    text-align: center;
  }
}

.menu-primary{
  margin-top: 25px;
transition: 0.5s;
}

.first-menu{
  @include sm{
    border-radius: 5px 5px 0px 0px;
  }
}
.fourth-menu{
  @include sm{
    border-radius: 0px 0px 5px 5px;
  }
}
.first-menu-wrap .first-menu{
  font-weight: bold;

}
.second-menu-wrap .second-menu{
  font-weight: bold;
}
.third-menu-wrap .third-menu{
  font-weight: bold;
}
.fourth-menu-wrap .fourth-menu{
  font-weight: bold;

}
.fifth-menu-wrap .fifth-menu{
  font-weight: bold;
}


.main-menu-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999;
}


#mobile-menu-button{
  display: none;
  @include sm{
    cursor: pointer;
    width: 4em;
    height: 4em;
    position: absolute;
    z-index: 999;
    display: block;
    top: 13px;
    right: 15px;
  }
}
.menu-icons{
  display: block;
  position: absolute;
  right: 15px;
  top: 25px;
  transition: 0.2s;
  width: 2.2em;
  border-radius: 5px;
  height: 0.20em;
  background: #ffffff;
  pointer-events: none;
}
.menu-icons:before{
  margin: 1em;
  display: block;
  content: "";
  position: absolute;
  left: -14px;
  top: -23px;
  transition: 0.2s;
  width: 2.2em;
  border-radius: 5px;
  height: 0.20em;
  background: #ffffff;
}
.menu-icons:after{
  margin: 1em;
  display: block;
  content: "";
  position: absolute;
  left: -14px;
  top: -5px;
  transition: 0.2s;
  width: 2.2em;
  border-radius: 5px;
  height: 0.20em;
  background: #ffffff;
}