.menu-clicked{
  .menu-icons{
    @include sm{
      height: 0px;
    }

  }

  .menu-icons:before{
    @include sm{
      transform: rotate(-45deg);
      transition: 0.2s;
      top: -14px !important;
    }
  }
  .menu-icons:after{
      @include sm{
      transform: rotate(45deg);
      transition: 0.2s;
      top: -14px !important;
    }
  }
  .menu-main li{
    @include sm{
      visibility: visible;
      padding: 10px 15px;
      height: auto;
      opacity: 1;
      transition: visibility 0s, opacity 0.2s;
    }
  }
  .menu-main{
    @include sm{
      padding-top: 12px;
      height: auto;
    }
  }
}