.product__list .product{
  width: 100%;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 0px;
  @include md{
    position: relative;
    padding-bottom: 5px;
  }
  @include xs{
    max-width: none;
    float: left;
    margin-bottom: 15px;
  }
}


.product__list .product-head{
  padding: 0px 10px;
  width: 30%;
  height: 80px;
  float: left;
  border-bottom: solid 2px $color-dark-orange;
  position: relative;
  @include md{
    height: 110px;
    width: 35%;
  }
  @include xs{
    width: 100%;
    height: 55px;
  }
}
.product__list .data{
  padding: 11px 10px 0px 10px;
  width: 27%;
  float: left;
  height: 80px;
  border-bottom: solid 2px $color-gray;
  @include md{

    position: absolute;
    border-bottom: none;
    width: 65%;
    right: 0px;
    bottom: 18px;
    height: auto;
  }
  @include sm{
    bottom: 10px;
  }
  @include xs{
    width: 100%;
  }
}
.product__list .price-wrap{
  padding: 11px 10px 0px 10px;
  width: 17%;
  float: left;
  height: 80px;
  border-bottom: solid 2px $color-gray;
  @include md{
    height: 110px;
    width: 25%;
  }
  @include xs{
    width: 37%;
  }
}
.product__list .pr-form{
  padding: 11px 10px 0px 10px;
  width: 25%;
  float: left;
  height: 80px;
  margin-top: 0px;
  border-bottom: solid 2px $color-gray;
  @include md{
    height: 110px;
    width: 40%;
  }
  @include xs{
    width: 63%;
  }
}

.product__list .btn__form{
  padding: 13px 15px;
  font-size: 14px;
  @include md{
    padding: 11px 12px;
  }
}
.product__list .pr-cone{
  float: left;
  width: 20%;
  @include sm{
    width: 25%;
  }
}

.product__list .pr-title{
  float: right;
  width: 100%;
  border-bottom: none;
  font-size: 18px;
  line-height: normal;
  text-align: left;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.product__list .pr-title-wrap{
  display: block;
  width: 80%;
  float: right;
  position: relative;
  height: 80px;
@include md{
  height: 110px;
}
  @include sm{
    width: 75%;
  }
  @include xs{
    height: 50px;
  }

}

.product__list .stand{
  max-width: 45px;
  max-height: 45px;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
}

.product__list .lie{
  display: none ;
}

.product__list .pr-cone{
  margin: 0px;
  height: 80px;
  @include md{
    height: 110px;
  }
  @include xs{
    width: 20%;
    height: 50px;
  }
}

.product__list .price-text{
  display: block;
  color:$color-dark-blue;
}

.product__list .price{
  text-align: left;
  font-size: 20px;
  @include sm{
    font-size: 16px;
  }

}


.product__list .ico-part__average svg{
  height: 12px;
  width: 12px;
  stroke-width: 2;
}

.product__list .ico-part__box svg{
  width: 17px;
  stroke-width: 1.6;
  height: 17px;
}


.product__list .ico-part__meter svg{
  width: 20px;
  stroke-width: 1.4;
  height: 20px;
}

.product__list .ico-part__gift svg{
  width: 25px;
  height: 20px;
}

.product__list .ico-part{
  width: 35px;

  @include md{
    width: 20px;
    margin-right: 10px;
  }
  @include sm{
    text-align: center;
    width: 100%;
    height: 22px;
  }
}



.product__list .average, .product__list .meter{
  width: 60%;
  margin-bottom: 5px;
  @include md{
    width: 25%;
  }
}

.product__list .box, .product__list .gift{
  width: 40%;
  margin-bottom: 5px;
  @include md{
    width: 25%;
  }
}
.product__list .box{
  @include md{
    width: 22%;
  }

}
.product__list .average{
  @include md{
    width: 28%;
  }
}
.product__list .text-part{
  font-size: 12px;
    @include sm{
      text-align: center;
      width: 100%;
    }
}

.product__list .unit{
  @include md{
    font-size: 12px;
    padding-left: 2px;
  }

}

.product__list .pr-form input{
@include md{
  height: 40px;
  width: 40px;
}

}


.product__list .pr-catalog-num {
  position: absolute;
  color: black;
  font-weight: 300;
  font-size: 10px;
  bottom: 0px;
  right: 0px;
}

.product__list .without_dph{
  bottom: -5px;
  left:0px;
  transform: unset;
  font-size: 6px;

}

.product__list .pr-ingredients{
  position: absolute;
  right: 60px;
  bottom: 0px;
}