.active{
  color:$color-dark-orange;
  border-bottom-color: $color-dark-orange;
}

.product-part{
  padding-left: 50px;
  @include lg {
    padding-left: 15px;
  }
}
.active:before{
  border-left: 9px solid #F65520;
}

.filter-wrap{
  border: solid 10px white;
  border-radius: 5px;
  box-shadow: 0px 0px 80px rgba(246, 211, 222, 0.6);
  width: 280px;
  padding: 10px 15px;
  position: absolute;
  background: white;
  padding: 10px 15px;
  top: -125px;
  @include lg{
    position: relative;
  }

}
.filter-wrap__tablet{
  display: none;
  @include lg{
    display: block;
    float: left;
    width: 100%;
    top: unset;
    margin-top: 50px;
  }
}
.filter-wrap__desktop{
  @include lg{
    display: none;
  }
}
.last{
  border-bottom: none;
}

.product svg{
  stroke:$color-dark-orange;
  stroke-width: 1.2;
}


.product{
  width: 33.3333%;
  float: left;
  margin-bottom: 50px;
  height: 400px;
  padding: 10px;
  position:relative;
  @include md{
    width: 50%;
  }
  @include sm{
    width: 50%;
    height: 365px;
    margin-bottom: 30px;
  }
  @include xs{
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    height: 400px;
    margin-right: auto;
    float: unset;
    margin-bottom: 50px;
  }
}

.pr-title{
  font-size: 22px;
  color: $color-dark-orange;
  font-weight: 500;
  border-bottom: solid 2px $color-dark-orange;

  line-height: normal;
  display: table-cell;
  width: 100%;
  height: 65px;
  vertical-align: bottom;
  padding-bottom: 5px;
}
.pr-title-wrap{
  display: table;
  width: 100%;
}

.stand{
  max-width: 110px;
  max-height: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include sm{
    max-width: 90px;
    max-height: 70px;
  }
  @include xs{
    max-width: 110px;
    max-height: 90px;
  }
}
.lie{
  max-height: 120px;
  max-width: 90px;
  margin-left: 120px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  @include sm{
    max-height: 100px;
    max-width: 70px;
    margin-left: 100px;
  }
  @include xs{
    max-height: 120px;
    max-width: 90px;
    margin-left: 120px;
  }
}

.pr-cone{
  padding: 0px 15px;
  margin: 10px 0px;
  position: relative;
  height: 120px;
  @include sm{

    height: 90px;
  }
  @include xs{
    height: 120px;
  }
}


.average, .meter{
  width: 60%;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
.gift, .box{
  width: 40%;
  float: left;
  margin-bottom: 10px;
  position: relative;
}

.ico-part{
  width: 50px;
  text-align: center;
  float: left;
  @include sm{
    width: 45px;
  }
  @include xs{
    width: 50px;
  }
}

.text-part{
  float: left;
  @include sm{
    font-size: 12px;
  }
  @include xs{
    font-size: initial;
  }
}
.price{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  position:relative;
  color: $color-dark-blue;
  @include sm{
    font-size: 22px;

  }
  @include xs{
    font-size: 25px;
  }
}
.pr-form{
  margin-top: 20px;
  padding: 0px 10px;
  @include sm{
    margin-top: 15px;
  }
  @include xs{
    margin-top: 20px;
  }
}
.pr-form input{
  min-width: 1px;
  width: 45px;
  text-align: center;
  padding: 0px;
  height: 45px;
  margin-bottom: 0px;
  @include sm{
    width: 40px;
    height: 40px;
  }
  @include xs{
    width: 45px;
    height: 45px;
  }
}

.unit{
  font-weight: bold;
  font-size: 16px;
  color: #255da0;
  padding-left: 10px;
  @include sm{
    padding-left: 5px;
    font-size: 14px;
  }
  @include xs{
    font-size: 16px;
    padding-left: 10px;
  }
}

.price-text{
  display: none ;
}

.ico-part__average svg{
  width: 18px;
  height: 18px;
  stroke-width: 1.7;
}

.category-button-wrap{
  display: none;
  @include lg{
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.product-part h2{
  @include xs{
    text-align: center;
  }
}


.product-listing{
  position: absolute;
  right: 15px;
  top: 10px;
  @include lg{
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.grid-display, .list-display, .pdf{
  padding: 5px;
  cursor: pointer;
}

.filter-active .st1{
  fill:$color-dark-orange;
}

.product-listing svg{
  vertical-align: middle;
}

.pr-content{
  min-height: 750px;
}



.ico-detail{
  position: absolute;
  background: white;
  box-shadow: 0px 5px 20px $color-darker-gray;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  width: initial;
  text-align: center;
  font-size: 12px;
  padding: 0px 10px;
  top: -35px;
  left: -7px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
}
.average:hover > .ico-detail{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.box:hover > .ico-detail{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.meter:hover > .ico-detail{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.gift:hover > .ico-detail{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.ico-detail:before{
  position: absolute;
  background: white;
  content: "";
  width: 10px;
  height: 6px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  bottom: -5px;
  left: 32px;
  transform: translateX(-50%);
}
.confirm-wrap{
  transition: visibility 0s, opacity 0.2s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.51);
}
.confirm{
  vertical-align: middle;
  text-align: center;
  background: white;
  width: initial;
  height: initial;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  padding: 60px 80px;
  border-radius: 5px;
  @include lg{
    width: inherit;
  }
  @include sm{
    padding: 40px 50px;

  }
  @include xs{
    padding: 50px 15px;
  }
}

.confirm-text{
  line-height: normal;
  font-weight: bold;
  font-size: 28px;
  color: $color-dark-blue;
  @include sm{
    font-size: 25px;
  }
}
.confirm-check{
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  transition: all 0.5s ease;
border-radius: 50%;


}

.confirm-check svg .st1{
  fill: white;
}
.confirm-check svg{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.navi-buttons{
  text-align: center;
  margin-top: 50px;
}

.data{
  height: 85px;
  width: 100%;
  float: left;
}
.pr-catalog-num{
  position: absolute;
  color: black;
  font-weight: 300;
  font-size: 12px;
}

.without_dph{
  font-size: 10px;
  color: #4976b0;
  font-weight: normal;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.without_dph--menu{
  color: white;
  width: 150px;
  right: 0px;
  transform: none;
  text-align: right;
  left: auto;
  font-size: 9px;
  @include sm{
    right: auto;
    transform: none;
    text-align: left;
    left: 0px;
    font-size: 7px;
    bottom: -7px;
  }
}

.without_dph--cart{
  font-size: 8px;
  bottom: 13px;
  width: 200px;
  @include xs{
    transform: none;
    left: 0px;
    bottom:5px;
  }
}

.without_dph--cart-main{
  color: #F65520;
  @include sm{
    color: #F65520;
    bottom: -11px;
    font-size: 9px;
    width: 200px;
    text-align: right;
    right: 0px;
    left: auto;
    transform: none;
  }
}