

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 22px;
  width: 22px;
  transition: all 0.15s ease-out 0s;
  background: $color-light-blue;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;


  margin-bottom: 0px;
  border-radius: 5px;
  min-width: 20px;
  max-width: unset;
  min-height: 20px;
}
.option-input:hover {
  background:$color-dark-blue;
}
.option-input.checkbox:checked {
  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: 0.2s;
}
.option-input.checkbox:checked::before {
  height: 20px;
  width: 18px;
  position: absolute;
  content: url('/wp-content/themes/tvin-cones/images/check.svg');
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
}
.option-input.checkbox:checked::after {

  background: $color-dark-blue;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}




.option-input.radio:checked {
  background-color: $color-light-blue;

  transition: 0.2s;
}
.option-input.radio:checked::before {
  position: absolute;
  content: '';
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;

  background-color: $color-blue;
  background-image: linear-gradient(45deg, $color-blue 0%, $color-blue 55%, $color-dark-blue 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  border-radius: 50%;
}
.option-input.radio:checked::after {

  background: $color-dark-blue;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.checkbox{
  border: solid 2px #2a68aa;
}
.radio{
  border: solid 2px #2a68aa;
}