// Fonts

@font-face {
    font-family: 'icomoon';
    src: url('../icomoon/fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
         url('../icomoon/fonts/icomoon.ttf') format('truetype'),
         url('../icomoon/fonts/icomoon.woff') format('woff'),
         url('../icomoon/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TriviaSeznam-Bold';
    src: url('../fonts/TriviaSeznam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TriviaSeznam-Bold.woff') format('woff'),
    url('../fonts/TriviaSeznam-Bold.ttf')  format('truetype'),
    url('../fonts/TriviaSeznam-Bold.svg#TriviaSeznam-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TriviaSeznam';
    src: url('../fonts/TriviaSeznam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TriviaSeznam.woff') format('woff'),
    url('../fonts/TriviaSeznam.ttf')  format('truetype'),
    url('../fonts/TriviaSeznam.svg#TriviaSeznam') format('svg');
    font-weight: normal;
    font-style: normal;
}