


$color-black: black;
$color-white: white;

$color-dark-orange: #F65520;
$color-orange:#FF9724;
$color-lighter-orange:#FFBC6E;
$color-light-orange:#FFD29A;

$color-dark-blue: #255DA0;
$color-blue: #29A7D6;
$color-lighter-blue:#329DD2;
$color-light-blue:#C3DDF6;


$color-transparent: rgba(255, 255, 255, 0.3);


$color-vine:#89242C;

$color-h1:#e76a3c;

$color-box-shadow:rgba(246, 211, 222, 0.6);


$color-gray:#ececec;
$color-darker-gray:#c1c1c1;